<!DOCTYPE html>
<html>
<body>
    <script>
        window.drf = {
          csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
          csrfToken: "{% if request %}{{ csrf_token }}{% endif %}"
        };
      </script>
<script>

fetch("http://127.0.0.1:8000/Artash?format=json",
{
    headers: {
      
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    method: "GET",
    mode: 'no-cors'
    
})
.then((res)=>res.json()).then(function(res){ 
  console.log(res,'AAAAAAAAA')
})
.catch(function(res){ console.log(res) })
        console.log("{{user.last_name}}")
        // fetch("http://127.0.0.1:8000/Artash?format=json").then(elem=>elem.json).then(a =>{
        //   console.log(a)
        // })
       
  </script>

<h1>My First Heading</h1>

<p id ='demo' >My first paragraph.</p>
<p class="demo">Fetch a file to change this text.asdfasdf</p>
<button onclick="changeColor();">red</button>
<form id="form">
  <input name="last_name" class="lastname" type="text" id="lastname" value="aasdasd"/>
  <input name="login">
</form>
<script>
  console.log(form.last_name.value); // true, ведь это одинаковые <input>
</script>

</body>
</html>